---
import type { SidebarNavbarItem } from "../../../types";
import { docsConfig } from "src/config/docs";
import { Icon } from "astro-icon/components";

export interface DocSidebarNav {
  items: SidebarNavbarItem[];
}

const { sidebarNavbar } = docsConfig;
const { pathname } = Astro.url;
---

<aside class="h-full hidden lg:block w-36 mr-8">
  <div
    id="navbar"
    class="on-this-page space-y-7 mx-auto container w-full h-full pt-10"
  >
    {
      sidebarNavbar.map((section, _) => (
        <div>
          <h4 class="on-this-page font-bold text-secondary-200 leading-none mb-2">
            {section.title}
          </h4>
          <ul>
            {section.items?.map((item) => (
              <li class="hover:bg-tertiary-400 transition-colors rounded-xl">
                <a
                  href={item.href}
                  class:list={[
                    "text-small flex gap-2 py-2 pl-3 hover:pl-4 items-center transition-all duration-200",
                    {
                      "text-primary-400 bg-tertiary-400 rounded-xl pl-4":
                        pathname === item.href,
                    },
                    {
                      "hover:text-secondary-200": pathname !== item.href,
                    },
                  ]}
                >
                  {item.icon && (
                    <Icon
                      name={item.icon}
                      class:list={[
                        "text-base rounded-md",
                        {
                          "text-primary-400": pathname === item.href,
                        },
                      ]}
                    />
                  )}
                  {item.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</aside>
