---
import type { SidebarNavbarItem } from "../../../types";
import { docsConfig } from "src/config/docs";
import { Icon } from "astro-icon/components";

export interface DocSidebarNav {
  items: SidebarNavbarItem[];
}

const { sidebarNavbar } = docsConfig;
const { pathname } = Astro.url;
---

<aside class="h-full">
  <div class="fixed space-y-7">
    {
      sidebarNavbar.map((section, _) => (
        <div>
          <h4 class="on-this-page font-bold text-secondary-200 leading-none mb-2">
            {section.title}
          </h4>
          <ul class="space-y-2">
            {section.items?.map((item) => (
              <li>
                <a
                  href={item.href}
                  class:list={[
                    "text-small flex gap-3 items-center",
                    {
                      "text-primary-400": pathname === item.href,
                    },
                    {
                      "hover:text-secondary-200": pathname !== item.href,
                    },
                  ]}
                >
                  {item.icon && (
                    <Icon
                      name={item.icon}
                      class:list={[
                        "bg-tertiary-400 text-3xl p-2 rounded-md",
                        {
                          "text-primary-400": pathname === item.href,
                        },
                      ]}
                    />
                  )}
                  {item.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</aside>
