---
import Logo from "@icons/Logo.astro";
import { docsConfig } from "src/config/docs";
---

<header
  class="sticky top-0 py-3 border-b border-tertiary-200 z-50 bg-tertiary-600/50 backdrop-blur-2xl"
>
  <nav
    aria-label="Docs navigation"
    class="container mx-auto flex items-center justify-between"
  >
    <div class="flex items-center space-x-10">
      <a
        href="/"
        class="flex gap-1 items-center font-bold text-secondary-200 text-2xl"
        ><Logo /> heee
      </a>
      <ul class="space-x-5">
        {
          docsConfig.mainNavbar[0].items.map(({ href, title }) => (
            <li class="inline-block">
              <a href={href} class="hover:text-secondary-200 transition-colors">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>

    <!-- <div> -->
    <!--   <p>search</p> -->
    <!-- </div> -->

    <div class="flex items-center gap-5">
      <ul class="space-x-5">
        {
          docsConfig.mainNavbar[1].items.map(({ href, title }) => (
            <a href={href} class="hover:text-secondary-200 transition-colors">
              {title}
            </a>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
