---
import Logo from "src/icons/Logo.astro";
import { docsConfig } from "src/config/docs";
---

<header
  class="fixed z-50 left-0 right-0 container mx-auto flex justify-between items-center mt-3"
>
  <div class="flex items-center gap-10">
    <a
      href="/"
      class="flex gap-1 items-center font-bold text-secondary-200 text-2xl"
      ><Logo /> heee
    </a>
    <nav>
      <ul class="space-x-5">
        {
          docsConfig.mainNavbar[0].items.map(({ href, title }) => (
            <a href={href} class="hover:text-secondary-200 transition-colors">
              {title}
            </a>
          ))
        }
      </ul>
    </nav>
  </div>
  <ul class="space-x-5">
    {
      docsConfig.mainNavbar[1].items.map(({ href, title }) => (
        <a href={href} class="hover:text-secondary-200 transition-colors">
          {title}
        </a>
      ))
    }
  </ul>
</header>
