---
import Button from "@components/Button.astro";
import { Icon } from "astro-icon/components";
---

<div
  class="bg-tertiary-500 mt-7 border border-tertiary-200 rounded-xl p-2 flex justify-between items-center"
>
  <slot />
  <Button
    class="text-white text-xl bg-tertiary-200 p-2 rounded-md border-2 border-primary-400 shadow-[0px_0px_20px_5px_rgb(57,102,241,0.3)] hover:shadow-[0px_0px_20px_5px_rgb(57,102,241,0.6)] transition-colors duration-100"
  >
    <Icon name="copy" />
  </Button>
</div>

<script>
  const $pre = document.querySelectorAll("pre.astro-code.github-dark");
  const $btnCopy = document.querySelectorAll(".btn");

  $pre.forEach((item, i) => {
    let text = item?.textContent;
    console.log(text);

    const copyText = async () => {
      try {
        await navigator.clipboard.writeText(text || "");
      } catch (err) {
        console.log("Failed to copy: " + err);
      }
    };
    $btnCopy[i].addEventListener("click", copyText);
  });
</script>

<style>
  pre {
    all: unset;
  }
</style>
