---
const { text = "", id = "", class: className = "" } = Astro.props;
---

<button id={id} class={`btn ${className}`}>
  <slot />
</button>

<script>
  import { animate } from "https://cdn.jsdelivr.net/npm/framer-motion@11.11.11/dom/+esm";

  const $box = document.querySelectorAll(".btn");

  $box.forEach((box) => {
    let isAnimated = false;

    box.addEventListener("mouseenter", () => {
      const animation = animate(
        box,
        { scale: 1.05 },
        { duration: 0.05, type: "spring", stiffness: 200 },
      );
      animation.speed = animation.speed * 1.5;
    });

    box.addEventListener("mouseleave", () => {
      const animation = animate(
        box,
        { scale: 1 },
        { duration: 0.05, type: "spring", stiffness: 200 },
      );
      animation.speed = animation.speed * 1.5;
    });

    const clickPress = () => {
      const animation = animate(
        box,
        { scale: 0.96 },
        { duration: 0.05, type: "spring", stiffness: 200 },
      );
      animation.speed = animation.speed * 1.5;
      isAnimated = !isAnimated;
    };

    box.addEventListener("mousedown", clickPress);
    box.addEventListener("mouseup", () => {
      const animation = animate(
        box,
        { scale: 1 },
        { duration: 0.05, type: "spring", stiffness: 200 },
      );
      animation.speed = animation.speed * 1.5;

      if (isAnimated) {
        isAnimated = !isAnimated;
        setTimeout(() => {
          const animation = animate(
            box,
            { scale: 1.05 },
            { duration: 0.05, type: "spring", stiffness: 200 },
          );
          animation.speed = animation.speed * 1.2;
        }, 100);
      }
    });
  });
</script>
