<div class="parallax-container">
  <img
    src="/images/riven-oaxaca.png"
    alt="imagen de riven"
    class="parallax-image"
  />
</div>
<p class="pt-4">Effecto parallax</p>

<style>
  .parallax-container {
    width: 277px;
    width: 277px;
    border-radius: 20px;
    overflow: hidden;
  }
</style>

<script>
  import { animate, scroll } from "motion";

  // scroll(animate(".parallax-container", { scale: [1, 1.5] }));
</script>
