---

---

<label for="input-text" class="text-small pb-1">Input</label>
<input
  id="input-text"
  type="text"
  placeholder="Biblioteca UI para Astro y JS"
  class="bg-tertiary-500 text-secondary-600 placeholder:text-secondary-600 text-small rounded-[10px] px-3 py-2 ring-2 ring-primary-400 outline-none border-tertiary-600"
/>
