<div class="flex items-center space-x-4">
  <!-- Switch -->
  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" class="sr-only peer" />
    <div
      class="w-12 h-6 bg-tertiary-500 peer-focus:outline-none rounded-full peer-checked:bg-primary-400 transition-colors"
    >
    </div>
    <span
      class="absolute left-0.5 top-0.5 w-5 h-5 bg-secondary-200 rounded-full transition-transform transform peer-checked:translate-x-6"
    ></span>
  </label>
  <span class="text-secondary-200 font-medium">Datos móviles</span>
</div>
